:root {
    --font: #29242e;
    --header: #EC91C4;
    --accent: #351D77;
    --projects: #EEE4F0;
    --about: #E8F0E4;
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* ===== Global Styles (website coded Mobile first) ===== */
body {
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    color: var(--font);
    background-color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Alata", sans-serif;
    text-align: center;
    margin: 0;
    line-height: 1.5;
}

h1 {
    font-size: 1.75rem;
    margin: 0 0.25em;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5em;
    border-bottom: 1px solid var(--font);
}

h4 {
    font-size: 1.25rem;
    margin-top: 1em;
}

p {
    margin: 0.1em 0;
    line-height: 1.5;
}

span {
    font-weight: 700;
}

a {
    color: var(--accent);
    cursor: pointer;
}

figure {
    margin: 0;
}

img {
    width: 100%;
}

address {
    font-style: normal;
    text-align: center;
}

.content-wrapper {
    width: 85%;
    margin: 0 auto;
}

/* === Header & Nav Styles === */
.home-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: var(--header);
    color: var(--accent);
    padding: 2em 0 3em 0;
}

header h2 {
    margin-top: 1.75em;
    font-weight: 500;
}

/* Replay button */
#replay {
    align-self: flex-end;
    margin-right: 30px;
    color: var(--font);
    background-color: var(--about);
    font-size: 1.25rem;
    border-radius: 50%;
    border: none;
    padding: 0 7px 2px 7px;
    transition: opacity 0.6s ease-in-out 0.2s;
    opacity: 0;
    /* Hides button by default */
}

#replay:hover,
#replay:focus {
    background-color: var(--projects);
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.35s;
}

/* Replay button styles specific for FireFox */
@-moz-document url-prefix() {
    #replay {
        padding: 3px 5px 4px 5px;
        font-size: 1rem;
    }
}

header nav {
    margin-bottom: 3.5em;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    font-size: .75rem;
    font-weight: 800;
    text-transform: uppercase;
}

header nav ul li a {
    text-decoration: none;
}

a[href="#contact"],
header nav ul li a:hover,
header nav ul li a:focus {
    color: white;
    background-color: var(--accent);
    padding: 0.75em;
    border-radius: 2em;
    outline: none;
    font-weight: 800;
    transition: padding 0.4s;
}

a[href="#contact"]:hover,
a[href="#contact"]:focus {
    color: var(--font);
    background-color: #D4D3E9;
}


/* ===== Projects Section styles ===== */
section#projects {
    padding: 2.5em 0;
    background-color: var(--projects);
}

.projects-wrapper {
    margin-top: 2.25em;
}

.project-container {
    display: flex;
    flex-flow: column wrap;
    margin-bottom: 2.5em;
}

.project-container:last-of-type {
    /* Evens out margin between sections */
    margin-bottom: 0.75em;
}

img.project-preview {
    -webkit-box-shadow: 3px 3px 8px 0px rgba(120, 100, 120, 1);
    -moz-box-shadow: 3px 3px 8px 0px rgba(120, 100, 120, 1);
    box-shadow: 3px 3px 8px 0px rgba(120, 100, 120, 1);
}

img.project-preview:hover {
    transform: scale(1.05);
    transition: transform 0.35s;
}

p.description {
    margin: 1.5em 0;
}

a.project-button {
    text-decoration: none;
    font-weight: 700;
    padding: 0.75em 2em;
    border-radius: 1.5em;
    margin: 1em 0 2em 0;
    align-self: center;
    /* animation styles */
    background: linear-gradient(-45deg, #fbc5e3, var(--header), #f57bbf);
    background-size: 400% 400%;
    animation: gradient 3s ease-in-out infinite;
}

/* Project button animation */
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a.project-button:hover,
a.project-button:focus {
    background: #F4BEDC;
    transform: scale(1.05);
}

/* ===== Skills Section styles ===== */
section#skills {
    padding: 3em 0;
    background-color: var(--accent);
    color: white;
}

#skills h3 {
    border-bottom: 1px solid white;
}

#skills h4 {
    margin: 1.5em 0;
    font-weight: 200;
}

#skills i {
    margin-right: 0.45em;
    font-size: 1.25em;
}

#responsive i {
    /* Scale size of responsive icon to match others */
    font-size: 1em;
    margin-right: 0.5em;
}

.skills-wrapper p,
.tools-wrapper p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4BEDC;
    color: var(--font);
    padding: 0.8em 0;
    margin: 1.25em 0;
    text-align: center;
    font-size: 1.125em;
}

.skills-wrapper p:last-of-type {
    /* Adds extra space between sections */
    margin-bottom: 2.5em;
}

/* Skills button shine animation */
.shine {
    position: relative;
    overflow: hidden;
}

.shine:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, .8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    animation: shine 4s infinite linear;
    /* Animation */
}

@keyframes shine {
    0% {
        left: -100px
    }

    20% {
        left: 100%
    }

    100% {
        left: 100%
    }
}


/* ===== About Me Section styles ===== */
section#about {
    padding: 4.5em 0 4em 0;
    background-color: var(--about);
}

.about-content-wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.profile-pic {
    max-width: 250px;
}

.about-text {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.about-text h3 {
    margin: 1.5em 0;
    padding-bottom: 0;
    border-bottom: none;
}

.about-text h4 {
    margin: 0 0 2em 0;
    width: 90%;
    font-weight: 400;
}

.about-text p {
    margin: 0;
}

/* ===== Contact Section / Footer styles ===== */
footer#contact {
    padding: 3em 0 0.8em 0;
    background-color: var(--header);
    position: relative;
}

#contact h5 {
    font-size: 1.1rem;
    margin: 1.75em 0 0.5em 0;
}

#contact p {
    margin: 0;
}

#contact a {
    font-weight: 500;
}

ul.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

#contact i {
    color: var(--accent);
    font-size: 1.75rem;
}

.meet-me-info {
    margin-bottom: 2.5em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

/* === Copyright & logo styles === */
.copyright {
    text-align: center;
    font-size: 0.8em;
}

#year {
    font-weight: normal;
}

.moon-logo-icon {
    max-width: 35px;
    position: absolute;
    right: 5px;
    bottom: 2px;
}


/* ============= Media Queries ============= */

/* === Tablet Styles === */
@media only screen and (min-width: 768px) {

    /* == Global Styles==  */
    .content-wrapper {
        max-width: 640px;
    }

    h1 {
        font-size: 2.25rem;
    }

    h3 {
        font-size: 1.8rem;
    }

    h5 {
        font-size: 1.5rem;
    }

    /* == Nav styles == */
    header {
        padding-top: 3em;
        padding-bottom: 5em;
    }

    header h2 {
        font-size: 1.5rem;
        margin-top: 2em;
        font-weight: 400;
    }

    #replay {
        margin-top: -2px;
    }

    /* Replay button styles specific for FireFox */
    @-moz-document url-prefix() {
        #replay {
            margin-right: 18px;
        }
    }

    header nav {
        margin-bottom: 5em;
    }

    header nav ul li {
        font-size: 0.9rem;
    }

    a[href="#contact"],
    header nav ul li a:hover,
    header nav ul li a:focus {
        padding: 0.8em;
    }

    /* == Projects section styles == */
    section#projects {
        padding-top: 3.5em;
        padding-bottom: 3em;
    }

    .projects-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-top: 3em;
    }

    .project-container {
        flex-basis: 45%;
        margin-bottom: 3em;
    }

    /* Use this when there is an odd number of divs in the 2 column layout */
    .project-container:last-child {
        margin: 0 auto;
    }

    /* == Skills section styles == */
    section#skills {
        padding: 3.5em 0 3.75em 0;
    }

    #skills h4 {
        margin: 1.5em 0 1.25em 0;
        font-size: 1.375rem;
    }

    #responsive i {
        font-size: 0.9em;
    }

    .skills-wrapper,
    .tools-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 1.7em;
    }

    .skills-wrapper p,
    .tools-wrapper p,
    .skills-wrapper p:last-of-type {
        margin: 0.5em 0 1em 0;
    }

    /* == About section styles == */
    section#about {
        padding: 5em 0 4em 0;
    }

    .profile-pic {
        max-width: 300px;
    }

    .about-text h3 {
        margin-top: 1.75em;
    }

    /* == Contact section / Footer styles == */
    footer#contact {
        padding-top: 3.5em;
    }

    #contact h5 {
        font-size: 1.25rem;
        margin-bottom: 1em;
    }

    .contact-info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 0.9em;
        margin-bottom: 1.5em;
    }

    #contact i {
        font-size: 1.9rem;
    }
}

/* ===== Styles added for landscape tablets and iPad Pro ===== */
@media only screen and (min-width:1024px) {
    body {
        font-size: 18px;
    }

    .content-wrapper {
        max-width: 900px;
    }

    h1 {
        font-size: 2.75rem;
    }

    header h2 {
        margin-top: 2.7em;
    }

    #replay {
        margin-right: 100px;
        margin-top: -5px;
    }

    /* Replay button styles specific for FireFox */
    @-moz-document url-prefix() {
        #replay {
            margin-right: 80px;
            font-size: 1.1rem;
        }
    }

    h3 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.4rem;
    }

    header {
        padding-top: 3.5em;
        padding-bottom: 5.25em;
    }

    header nav {
        margin-bottom: 5.5em;
    }

    header nav ul li {
        font-size: 1rem;
    }
}

/* ===== Dekstop Styles ===== */
@media only screen and (min-width:1200px) {

    /* == Global Styles==  */
    body {
        font-size: 20px;
    }

    .content-wrapper {
        max-width: 1400px;
    }

    h1 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    /* == Nav styles == */
    header {
        padding-top: 3.8em;
    }

    header nav ul {
        justify-content: flex-end;
    }

    header nav ul li {
        margin-left: 3em;
        font-size: 1.25rem;
    }

    #replay {
        margin-right: 250px;
        margin-top: -8px;
        font-size: 1.4rem;
        padding: 1px 8px 3px 8px;
    }

    /* Replay button styles specific for FireFox */
    @-moz-document url-prefix() {
        #replay {
            margin-right: 235px;
            font-size: 1.3rem;
        }
    }

    header h2 {
        font-size: 1.75rem;
        margin-top: 2.75em;
        font-weight: 500;
        width: 70%;
    }

    /* == Projects section styles == */
    section#projects {
        padding-bottom: 0;
    }

    .projects-wrapper {
        justify-content: space-around;
    }

    .project-container {
        flex-basis: 30%;
    }

    /* Need this for 3 column layout */
    .project-container:last-child {
        margin: 0;
    }

    .project-container h4 {
        margin-top: 1.5em;
    }

    a.project-button {
        margin-bottom: 3em;
    }

    /* == Skills section styles == */
    section#skills {
        padding: 3.75em 0 3.9em 0;
    }

    #skills h4 {
        font-size: 1.75rem;
    }

    .skills-wrapper p,
    .tools-wrapper p {
        font-size: 1.5rem;
    }

    /* == About section styles == */
    section#about {
        padding: 8em 0 8.75em 0;
    }

    .about-content-wrapper {
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .profile-pic {
        max-width: 380px;
        margin-right: 1em;
    }

    .about-text {
        flex-basis: 60%;
        align-items: flex-start;
    }

    .about-text h3 {
        margin: 0 0 0.9em 0;
        font-size: 2.25em;
    }

    .about-text h4 {
        text-align: left;
        width: 100%;
        font-size: 1.75rem;
    }

    /* == Contact styles == */
    footer#contact {
        padding: 3.5em 0 1em 0;
    }

    #contact h5 {
        font-size: 1.65rem;
        margin-top: 2em;
    }

    #contact i {
        font-size: 2.5rem;
    }

    .moon-logo-icon {
        max-width: 50px;
        right: 9px;
        bottom: 6px;
    }
}